/* Global CSS */
:root {
    --primary: #5e3bee;
    --heading-color: #282938;
    --bg-shade: #f5fcff;
    --github: #e62872;
    --dark-blue: #1c1e53;
    --black: #000;
    --white: #fff;
}

* {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: "Roboto", sans-serif;
    -moz-osx-smoothing: "Roboto", sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.btn {
    font-family: "Roboto", sans-serif;
    padding: 14px 32px;
    font-size: 1rem;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    line-height: 1rem;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 4px;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

.btn-outline-primary {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
}

.btn-outline-primary:hover {
    color: var(--white);
    background-color: var(--primary);
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-primary:hover {
    color: var(--primary);
    background-color: var(--white);
}

.btn-github {
    color: var(--white);
    background-color: var(--github);
    border: var(--github);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .95);
    gap: 1rem;
}

.btn-github:hover {
    color: var(--github);
    background-color: var(--white);
}
/* Global CSS Ends Here! */

/* Main Headings */
/* Heading 1 */
h1 {
    font-size: 3.5rem;
    font-weight: 700;
    /* line-height: 4.2rem; */
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.625rem;
}

h2 {
    font-size: 1.563rem;
    font-weight: 700;
    line-height: 2.125rem;
}

/* Paragraph text lrg med & sml */
/* Body 1 */
.text-lg {
    color: var(--dark-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

/* Body 2 */
.text-md {
    color: var(--dark-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* Body 3 */
.text-sm {
    color: var(--dark-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
/* Section Title Starts Here */

/* Skills & About me */
.section--title {
    color: var(--heading-color);
    font-size: 1.313rem;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    display: flex;
    align-items: flex-start;
}

/* Portfolio, Testimonials & Contact Me! */
.sub--title {
    color: var(--heading-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

/* Section Title Ends Here! */

/* NavBar Styling Starts Here */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 85.333px;
    background: var(--white);
    box-shadow: 0 5.333px 80px 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar--items > ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 42.667px;
    text-decoration: none;
}

.navbar--items ul > li > a {
    text-decoration: none;
}

/*  NavBar Content */
.navbar--content {
    color: var(--dark-blue);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    line-height: 24px;
}

.navbar--active-content {
    color: var(--primary);
}
/* NavBar Styling Ends Here */



/*  Hero Section Style Starts Here! */
.hero--section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 133.333px 85.333px;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--bg-shade);
}

.hero--section--content--box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.hero--section--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.333px;
}

.hero--section--content--box > button {
    margin-top: 21.333px;
}

.hero--section--title {
    color: var(--heading-color);
    font-size: 74.667px;
    font-weight: 700;
    align-self: stretch;
    color: var(--dark-blue);
}

.hero--section-description {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 24px;
}

.hero--section--image {
    display: flex;
}

.hero--section--image > img {
    width: 100%;
    height: 100%;
}
/* Hero Section Styling Ends Here... */

/*  Skills Section Styling */

.skills--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 149.33px 85.33px;
    gap: 106.667px;
}

.skills--section--heading {
    color: var(--heading-color);
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

.skills--section--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 42.6px;
}

.skills--section--card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
    flex: 1 0 0;
    border-radius: 10.6px;
    background: var(--bg-shade);
}

.skills--section--card:hover {
    border-bottom: 4px solid var(--primary);
}

.skills--section--card:hover, .skills--section--description {
    color: var(--dark-blue);
}

.skills--section--img {
    display: flex;
    padding: 13.3px;
    justify-content: center;
    align-items: center;
    gap: 13.3px;
    border-radius: 10.6px;
    background: var(--white);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1);
}

.skills--section--card--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.skills--section--title {
    color: var(--heading-color);
    font-size: 21px;
    font-weight: 700;
    line-height: 45px;
}

.skills--section--description {
    color: var(--black);
    font-size: 21.3px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
/* Skill Styling Ends Here! */

